<div class="similar-post">
    <a asp-controller="Home" asp-action="Pages" asp-route-view="about">About</a>
</div>
<div class="similar-post">
    <a asp-controller="Home" asp-action="Pages" asp-route-view="CodeOfConduct">Code of Conduct</a>
</div>
<div class="similar-post">
    <a asp-controller="Home" asp-action="Pages" asp-route-view="agents">Recruitment Agents</a>
</div>
<div class="similar-post">
    <a asp-controller="Home" asp-action="Pages" asp-route-view="contributors">Contributors</a>
</div>
<div class="similar-post">
    <a asp-controller="Home" asp-action="Pages" asp-route-view="Privacy">Privacy</a>
</div>