<div id="menu-target">
    <ul>
        <li><i class="fa fa-home"></i><a asp-controller="Home" asp-action="Pages" asp-route-view="home">Home</a></li>
        <li><i class="fa fa-anchor"></i><a asp-controller="Home" asp-action="Pages" asp-route-view="about">About</a></li>
        <li><i class="fa fa-user"></i><a asp-controller="Home" asp-action="Pages" asp-route-view="sponsors">Sponsors</a></li>
        <li><i class="fa fa-paper-plane"></i><a asp-controller="Home" asp-action="Pages" asp-route-view="contact">Contact</a></li>
        <li><i class="fa fa-balance-scale"></i><a asp-controller="Home" asp-action="Pages" asp-route-view="CodeOfConduct">Code of Conduct</a></li>
    </ul>
    <hr>
    <ul>
        <li><i class="fa fa-sign-in"></i><a href="https://discord.gg/UHYruGH4">Discord</a></li>
        <li><i class="fa fa-external-link"></i><a href="https://www.eventbrite.co.uk/o/chester-devs-105644745611">Eventbrite</a></li>
        <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/company/chester-devs/">LinkedIn Page</a></li>
        <li><i class="fa fa-slack"></i><a asp-controller="Shortlinks" asp-action="Slack">Slack</a></li>
        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/chesterdevs">Twitter</a></li>
        <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/groups/chesterdevs/">Facebook Group</a></li>
    </ul>
</div>