<div class="d-flex justify-content-between recruiter-panel-logos">
    <a href="https://www.thefazer.co.uk/" target="_blank" class="align-self-center p-1" ><img src="~/images/FazerRecruitment.png" alt="Fazer Recruitment" /></a>
    <a href="https://www.s2recruitment.co.uk/" target="_blank" class="align-self-center p-1"><img src="~/images/s2recruitment.png" alt="S2 Recruitment" class="align-self-center" /></a>
    <a href="https://www.langleyjames.com/" target="_blank" class="align-self-center p-1"><img src="~/images/LangleyJames.png" alt="S2 Recruitment" class="align-self-center" /></a>
</div>