<div class="d-flex justify-content-between recruiter-panel-logos">
    <a href="https://gbvltd.com/" target="_blank" class="align-self-center p-1"><img src="~/images/GBV.jpg" alt="GBV" class="align-self-center" /></a>
    <a href="https://www.ioassociates.co.uk/" target="_blank" class="align-self-center p-1"><img src="~/images/io_associates.png" alt="IO Associates" class="align-self-center" /></a>
</div>