<section class="sidebar-box">
    <h3>Subscribe</h3>
    <div>
        <a asp-action="Subscribe"><i class="fa fa-envelope-open smaller"></i></a>
    </div>
    <div class="sidebar-box-footer">
        <a class="btn btn-default" asp-action="Subscribe">Subscribe to Alerts</a>
    </div>
</section>