<section class="sidebar-box">
    <h3>Need help?</h3>
    <div>
        <a asp-action="AskARecruiter"><i class="fa fa-question"></i></a>
    </div>
    <div class="sidebar-box-footer">
        <a class="btn btn-default" asp-action="AskARecruiter">Ask a Recruiter</a>
    </div>
</section>