
<p>
    <a class="btn btn-default btn-image" href="https://discord.gg/xn7JfpXd" target="_blank"><img alt="Discord" src="/images/Discord-Logo-Blurple.png"/></a> &nbsp;
    <a class="btn btn-default btn-image" href="https://www.eventbrite.co.uk/o/chester-devs-105644745611" target="_blank"><img alt="Eventbrite" src="/images/Eventbrite-Orange.png" /></a>
</p>