
<p>
    <a class="btn btn-default" href="https://www.linkedin.com/company/chester-devs/" target="_blank"><i class="fa fa-linkedin"></i>Follow on LinkedIn</a> &nbsp;
    <a class="btn btn-default" asp-controller="Shortlinks" asp-action="Notifications" target="_blank"><i class="fa fa-user-plus"></i>Email Notifications</a>
</p>