<div class="site-info">
    <div class="primary-info">
        <h1>Chester Devs</h1>
        <p>Free monthly events for programmers</p>
        <p>Free knowledge, free food, nice people, pub after.</p>
    </div>
    <div class="secondary-info">
        <partial name="_SidebarSocials" />
    </div>
</div>