@model ChesterDevs.Core.Aspnet.Models.ViewModels.AskARecruiterViewModel
@{
    ViewData["Title"] = "IT Jobs - Recruitment Panel";
    var sidbarImage = Url.Content("~/images/Groves.png");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />
    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">
            <div class="back-link">
                <a asp-action="Index"><i class="fa fa-chevron-left"></i> Back to jobs </a>
            </div>

            <h1>Recruiter Panel</h1>

            <p>Chester Devs have partnered with the following trusted recruitment agents.</p>

            <div class="d-flex justify-content-between recruiter-panel-logos">
                <img src="~/images/FazerRecruitment.png" alt="Fazer Recruitment" class="align-self-center" />
                <img src="~/images/s2recruitment.png" alt="S2 Recruitment" class="align-self-center" />
            </div>
        
        @if (Model.Confirmation)
        {

            <p><em>Thank you, your message will be sent to the Recruitment Panel.</em></p>
        }
        else
        {

            <p>Use the form below to ask them a question or let them know you are looking for work.</p>

            <form asp-action="RecruiterPanel">
                <div class="form-group">
                    <label asp-for="AskARecruiter.Name">Name</label>
                    <input type="text" placeholder="Jane Doe" class="form-control" asp-for="AskARecruiter.Name">
                </div>

                <div class="form-group">
                    <label asp-for="AskARecruiter.Email">Email</label>
                    <input type="email" placeholder="example@email.com" class="form-control" asp-for="AskARecruiter.Email">
                </div>

                <div class="form-group">
                    <label asp-for="AskARecruiter.Phone">Phone Number</label>
                    <input type="tel" placeholder="+44778217779" class="form-control" asp-for="AskARecruiter.Phone">
                </div>

                <div class="form-group">
                    <label asp-for="AskARecruiter.Message">Message</label>
                    <textarea class="form-control" asp-for="AskARecruiter.Message" placeholder="Hello, lets chat"></textarea>
                </div>

                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Send">
                </div>
            </form>
        }
        
        
        <hr />

        <p>For more details on how your data is shared see the <a asp-controller="Home" asp-action="Pages" asp-route-view="Privacy">privacy policy</a></p>


        </div><!-- main-content/col -->

    </div> <!--/row -->

</main> <!-- /container -->



