@{
    ViewData["Title"] = "IT Jobs - Advertise a job";
    var sidbarImage = Url.Content("~/images/Groves.png");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />
    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">
            <div class="back-link">
                <a asp-action="Index"><i class="fa fa-chevron-left"></i> Back to jobs </a>
            </div>

            <h1>Recruiter Panel</h1>

            <p>Chester Devs have partnered with the following trusted recruitment agents.</p>

            <div class="d-flex justify-content-between recruiter-panel-logos">
                <img src="https://via.placeholder.com/200x100/FFFF00/000000/?text=LOGO" />
                <img src="https://via.placeholder.com/200x100/FFFF00/000000/?text=LOGO" />
                <img src="https://via.placeholder.com/200x100/FFFF00/000000/?text=LOGO" />
            </div>

            <p>Use the form below to ask them a question or let them know you are looking for work.</p>

            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Jane Doe" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="example@email.com" class="form-control" name="email">
                </div>

                <div class="form-group">
                    <label for="number">Phone Number</label>
                    <input type="tel" placeholder="+44778217779" class="form-control" name="number">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" placeholder="Hello, lets chat"></textarea>
                </div>

                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Send">
                </div>
            </form>

        </div><!-- main-content/col -->

    </div> <!--/row -->

</main> <!-- /container -->



