@{
    ViewData["Title"] = "About";
    var sidbarImage = Url.Content("~/images/Helmet.png");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">


            <h1>Who are we</h1>

            <p>This a user group for programmers/developers. We meet monthly in Chester to listen to a talk from an industry expert, share experiences and eat pizza. We are not language specific.</p>

            <h2>How does it work</h2>
            <p>All our events are listed on <a href="https://www.meetup.com/Chester-Devs/">Meetup</a>. Sign up and join our group there, you will receive email notifications about upcoming events each month.</p>

            <h2 >Topics</h2>
            <p>Our talks are quite varied in both in topic and in the experience level of the target audience. We have had talks on programming languages, architecture, project/team management, data stores, best practice, technology.</p>

            <h2>Speakers</h2>
            <p>Some of our speakers are Chester Dev members, or local experts, some come from quite a distance to to give talks they offer at conferences. Our speakers all give their time for free, although we occasionally help with travel costs. </p>

            <h2>Money</h2>
            <p>All our events are free to attendees. We cover costs via <a asp-controller="Home" asp-action="Pages" asp-route-view="sponsors">Sponsorship</a>. Details of how to become a sponsor can be found <a asp-controller="Home" asp-action="Pages" asp-route-view="SponorshipDetail">here</a>.</p>

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


<partial name="_Footer"/>