@{
    ViewData["Title"] = "Recruitment Agents";
    ViewData["page"] = "agents";
}
<header class="hero-image @ViewData["page"]" role="banner">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">
            
            <h1>Recruitment Agents</h1>

            <p>Chester Devs is a place for people interested in programming to learn and meet like-minded people.</p>
            
            <p>Recruitment agents are welcome to attend Chester Devs events and our online community groups under the above definition but must agree to adhere to the ethos of the group.</p>
        
            <p>Unless asked directly by another member:</p>
            <ul>
                <li>Chester Devs must not be used as an opportunity to sell the Recruitment Agent’s services, except by event sponsorship.</li>
                <li>Recruitment Agents must not attempt to gains leads via conversations with other members.</li>
                <li>Recruitment Agents must not discuss job opportunities with other members.</li>
            </ul>
            
            
        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


