@{
    ViewData["Title"] = "Sponsors";
    var sidbarImage = Url.Content("~/theme/img/default-about.jpg");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">
            
            <h1>Recruitment Agents</h1>

            <p>Chester Devs is a place for people interested in programming to learn and meet like-minded people.</p>
            
            <p>Recruitment agents are welcome to attend Chester Devs events under the above definition but must agree to adhere to the ethos of the event.</p>

            <ul>
                <li>Events must not be used as an opportunity to sell the Recruitment Agent’s services, except by event sponsorship.</li>
                <li>Recruitment Agents must not attempt to gains leads via conversations with other attendees.</li>
                <li>Recruitment Agents must not discuss job opportunities at an event.</li>
                <li>The above does not apply if an attendee requests it of the Recruitment Agent.</li>
            </ul>
            
        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


<partial name="_Footer"/>