@{
    ViewData["Title"] = "Code Of Conduct";
    ViewData["page"] = "about";
}
<header class="hero-image @ViewData["page"]" role="banner">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 col-lg-8 single-content-sidebar">



                <h1>Chester Devs Code of Conduct</h1>

                <p>
                    Chester Devs is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, ethnicity, age, religion, or programming experience. We do not tolerate harassment of participants in any form.
                </p>

                <h2>Expected Behaviour:</h2>
                <ul>
                    <li>Be respectful and considerate of others.</li>
                    <li>Participate in an authentic and constructive manner.</li>
                    <li>Exercise empathy and understanding towards fellow members.</li>
                    <li>Encourage and support learning and growth within the community.</li>
                    <li>Respect the privacy and personal space of others.</li>
                </ul>

                <h2>Unacceptable Behaviour:</h2>
                <ul>
                    <li>Harassment, discrimination, or intimidation in any form.</li>
                    <li>Offensive or derogatory comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, ethnicity, age, religion, or programming experience.</li>
                    <li>Deliberate intimidation, stalking, or following.</li>
                    <li>Inappropriate physical contact or unwelcome sexual attention.</li>
                    <li>Advocating for, or encouraging, any of the above behaviours.</li>
                </ul>

                <h2>Reporting Guidelines:</h2>
                <p>If you are subject to or witness unacceptable behaviour, or have any concerns, please notify a meetup organiser as soon as possible. You can do so by:</p>
                <ul>
                    <li>Speaking to an Fran Hoey in person.</li>
                    <li>Sending an email to <a href="mailto:franhoey@gmx.co.uk">franhoey@gmx.co.uk</a>.</li>
                    <li>Direct messaging an Fran Hoey via the meetup platform.</li>
                </ul>

                <h2>Enforcement:</h2>
                <p>Participants asked to stop any inappropriate behaviour are expected to comply immediately. Meetup organisers reserve the right to take appropriate actions, including but not limited to:</p>
                <ul>
                    <li>Warning the offender.</li>
                    <li>Expulsion from the event without refund.</li>
                    <li>Banning from future events.</li>
                    <li>Reporting to appropriate authorities if necessary.</li>
                </ul>

                <h2>Scope:</h2>
                <p>This code of conduct applies to all Chester Devs spaces, including but not limited to meetups, online forums, social media channels, and any other communication platforms used by the group.</p>

                <h2>Acknowledgement:</h2>
                <p>By participating in Chester Devs events or engaging with our community, you agree to abide by this code of conduct.</p>



        </div><!-- main-content/col -->
        <div class="col-12 col-lg-3 ml-auto single-content-sidebar-area">
            <partial name="_AboutSideNav" />
        </div>
    </div>
</main> <!-- /container -->

