@{
    ViewData["Title"] = "Sponsors";
    var sidbarImage = Url.Content("~/images/ChesterTownHall.png");
}

<main class="container left-container">
    <div class="row">


        <partial name="_Nav" />


        <section class="sidebar col-lg-5 col-12" style="background-image: url(@sidbarImage)">

            <partial name="_HamburgerButton" />


            <partial name="_SiteInfo" />
        </section><!-- end sidebar -->


        <section class="col-lg-7 col-12 ml-auto main-content">
            <h2>Contact</h2>
            <p>Chester Devs is organised by Fran Hoey, please contact me via email, meetup, or message me on Slack.</p>
            
            <ul>
                <li>Email: <a href="mailto:fran@bluejumper.com">fran@bluejumper.com</a></li>
                <li>Meetup: <a href="https://www.meetup.com/Chester-Devs/members/34801072/">Meetup Profile</a></li>
            </ul>
         </section>

    </div> <!--/row -->

</main> <!-- /container -->


<partial name="_Footer" />