@{
    ViewData["Title"] = "Contributors";
    var sidbarImage = Url.Content("~/images/River.png");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 col-lg-8 single-content-sidebar">

            <h1>Contributors</h1>

            <p>This website is developed and maintained by our members. Massive thank you to everyone below.</p>

            <p>If you would like to help out please visit the <a href="https://github.com/ChesterDevs/chester-devs-website" target="_blank">project on GitHub</a>, there is also a <a href="https://github.com/ChesterDevs/chester-devs-website/blob/master/CONTRIBUTING.md" target="_blank">guide to contributing</a>.</p>

            <p>The images of Chester were taken by Linda Jones.</p>

            <div id="contributer-list-container">
                <div id="contributer-list">
                    <h1 class="text-center">
                        <div class="fa fa-spinner fa-spin"></div>
                    </h1>
                </div>
            </div>

        </div><!-- main-content/col -->
        <div class="col-12 col-lg-3 ml-auto single-content-sidebar-area">
            <partial name="_AboutSideNav" />
        </div>
    </div> <!--/row -->

</main> <!-- /container -->

@section Scripts {
    <script type="text/javascript" src="~/js/Pages/contributors.js" asp-append-version="true"></script>
}


