@{
    ViewData["Title"] = "Home Page";
    var sidbarImage = Url.Content("~/theme/img/default-sidebar.jpg");
}

<main class="container left-container">
    <div class="row">
    
        <partial name="_Nav" />
        
        <section class="sidebar col-lg-5 col-12" style="background-image: url(@sidbarImage)">

            <partial name="_HamburgerButton"/>

            <div class="site-info">
                <div class="primary-info">
                    <h1>Writer</h1>
                    <p>A minimal blogging theme to put your content on show. <a href="post.html">Look at the features.</a> </p>

                    <p>Content is king</p>
                </div>
                <div class="secondary-info">
                    <p>
                        <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>
                    </p>
                </div>
            </div>
        </section><!-- end sidebar -->

        <section class="col-lg-7 col-12 ml-auto main-content">


            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="post.html">A great story never told</a></h2>

                    <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>

                    <p class="meta">
                        <a href="author.html">James Reddy</a> in <a href="category.html">Storytime</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 23 minute read
                    </p>
                </div>

                <div class=" col-2  no-gutter">
                    <img src="~/theme/img/profile-1.jpg" class="user-icon" alt="user-image">
                </div>
            </article>

            <article class="post">
                <div class="post-preview col-10 no-gutter">
                    <h2><a href="post.html">Builing, Hacking, Creating</a></h2>
                    <p>Is it better to start from scratch or build on someone elses work. My thoughts.</p>

                    <p class="meta">
                        <a href="author.html">Mad Hacker</a> in <a href="category.html">Easy Living</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 9 minute read
                    </p>
                </div>

                <div class=" col-2 no-gutter">
                    <img src="~/theme/img/profile-2.jpg" class="user-icon" alt="user-image">
                </div>
            </article>
            <article class="post">
                <div class="post-preview col-10 no-gutter">
                    <h2><a href="post.html">Ten reasons why you should travel, or why the city is killing your inner creative</a></h2>
                    <p>About time for your next adventure. </p>

                    <p class="meta">
                        <a href="author.html">Sarah Smith</a> in <a href="category.html">Adventure</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 5 minute read
                    </p>
                </div>

                <div class="col-2 no-gutter">
                    <img src="~/theme/img/profile-4.jpg" class="user-icon" alt="user-image">
                </div>
            </article>

            <article class="post">
                <div class="post-preview col-10 no-gutter">
                    <h2><a href="post.html">Feature List</a></h2>
                    <p>Wondering what is actually included? </p>

                    <p class="meta">
                        <a href="author.html">Jane Thompson</a> in <a href="category.html">Writer</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 2 minute read
                    </p>
                </div>

                <div class=" col-2 no-gutter">
                    <img src="~/theme/img/profile-5.png" class="user-icon" alt="user-image">
                </div>
            </article>

            <article class="post">
                <div class="post-preview col-10 no-gutter">
                    <h2><a href="post.html">About Writer</a></h2>
                    <p>Not another bootstrap theme </p>

                    <p class="meta">
                        <a href="author.html">John Smith</a> in <a href="category.html">Writer</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 3 minute read
                    </p>
                </div>

                <div class=" col-2 no-gutter">
                    <img src="~/theme/img/profile-1.jpg" class="user-icon" alt="user-image">
                </div>
            </article>

            <article class="post">
                <div class="post-preview col-10 no-gutter">
                    <h2><a href="components.html">Bootstrap Components</a></h2>
                    <p>How do some of the default bootstrap components looks</p>

                    <p class="meta">
                        <a href="author.html">Jane Doe</a> in <a href="category.html">Writer</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 2 minute read
                    </p>
                </div>

                <div class=" col-2 no-gutter">
                    <img src="~/theme/img/profile-3.jpg" class="user-icon" alt="user-image">
                </div>
            </article>
            <article class="post">
                <div class="post-preview col-10 no-gutter">
                    <h2><a href="post.html">Its not always that simple</a></h2>
                    <p>How many times should you ask the same questions. </p>

                    <p class="meta">
                        <a href="author.html">Tim Leen</a> in <a href="category.html">Open Roads</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 12 minute read
                    </p>
                </div>

                <div class=" col-2 no-gutter">
                    <img src="~/theme/img/profile-3.jpg" class="user-icon" alt="user-image">
                </div>
            </article>

            <footer class="split-footer">
                <a href="post.html">About</a>
                <i class="link-spacer"></i>
                <a href="post.html">Writer 2017</a>
            </footer>
        </section><!-- main content -->

    </div> <!--/row -->

</main> <!-- /container -->

