@{
    ViewData["Title"] = "Home";
    ViewData["page"] = "home";
}

<main class="container left-container">
    <div class="row">
    
        <partial name="_Nav" />
        
        <section class="sidebar col-lg-5 col-12 @ViewData["page"]">

            <partial name="_HamburgerButton"/>

            <partial name="_SiteInfo" />
        </section><!-- end sidebar -->

        <section class="col-lg-7 col-12 ml-auto main-content">

            <div class="d-flex flex-row justify-content-between align-items-center">
                <p class="flex-grow-1">Chester Devs is a place for people interested in programming to learn and meet like-minded people.</p>
                <img class="w-25" src="@Url.Content("~/images/Chester-Devs-logo-1.png")" alt="Chester Devs Logo" />
            </div>

            <div class="col-sm-12">
                <h2 class="favorites">Upcoming events</h2>
            </div>

            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="https://www.meetup.com/Chester-Devs/events/267928336/">Functional Programming in C# - Simon Painter</a></h2>

                    <p>Most .NET developers are familiar with the use of Linq, and basic constructs such as IEnumerable, Func delegates, arrow functions, and ternary expressions - but did you know that you can use all of this to implement some of the most powerful patterns and techniques from the world of functional programming?</p>

                    <p class="meta">Wed, 5th Feb, 7pm @@ Quakers meeting house, Chester</p>

                </div>

                <div class=" col-3  no-gutter">
                    <img src="https://secure.meetupstatic.com/photos/event/3/7/f/2/600_488174322.jpeg" class="event-image" alt="Simon Painter">
                </div>
            </article>


            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="https://www.meetup.com/Chester-Devs/events/268297314/">GPU programming for accelerated computing - John Murray</a></h2>

                    <p>GPU computing is the use of a GPU (graphics processing unit) as a co-processor to accelerate computationally intensive tasks.  I will present the basic concepts of GPU computing and explain how to get started with CUDA programming in Python with practical demonstrations.</p>


                    <p class="meta">Wed, 4th Mar, 7pm @@ Quakers meeting house, Chester</p>

                </div>
                @*
        <div class=" col-3  no-gutter">
            <img src="https://secure.meetupstatic.com/photos/event/3/7/f/2/600_488174322.jpeg" class="event-image" alt="Simon Painter">
        </div>*@
            </article>

        </section><!-- main content -->

    </div> <!--/row -->

</main> <!-- /container -->

