@{
    ViewData["Title"] = "Home";
    ViewData["page"] = "home";
}

<main class="container left-container">
    <div class="row">
    
        <partial name="_Nav" />
        
        <section class="sidebar col-lg-5 col-12 @ViewData["page"]">

            <partial name="_HamburgerButton"/>

            <partial name="_SiteInfo" />
        </section><!-- end sidebar -->

        <section class="col-lg-7 col-12 ml-auto main-content">

            <div class="d-flex flex-row justify-content-between align-items-center">
                <p class="flex-grow-1">Chester Devs is a place for people interested in programming to learn and meet like-minded people.</p>
                <img class="w-25" src="@Url.Content("~/images/Chester-Devs-logo-1.png")" alt="Chester Devs Logo" />
            </div>

            <div class="col-sm-12">
                <h2 class="favorites">Upcoming events</h2>
            </div>
        
            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="https://www.meetup.com/Chester-Devs/events/266225449/">Improving code quality and measuring web performance</a></h2>

                    <ol>
                        <li>Measuring web performance with user-centric metrics - Georgios Bamparopoulos</li>
                        <li>Using Node.js to improve your code quality with TypeScript / CSS linting and PostCSS - Bartlomiej Brzezianski</li>
                    </ol>

                    <p class="meta">Wed, 8th Jan, 7pm @@ Quakers meeting house, Chester</p>

                </div>

                <div class=" col-3  no-gutter">
                    <img src="https://secure.meetupstatic.com/photos/event/8/6/2/a/600_486394346.jpeg" class="event-image" alt="Node JS">
                </div>
            </article>

            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="https://www.meetup.com/Chester-Devs/events/264181124/">Christmas Teardown (social event)</a></h2>

                    <p>This is our annual social event, hopefully at a time when you have recovered from Christmas and ready for a cheap evening with lovely people.</p>

                    <p>As always there will be free food and a free drink (until the money runs out). There will be a quiz with some "special" prizes.</p>

                    <p class="meta">Wed, 22th Jan, 7pm @@ Popcorn, Chester</p>

                </div>

                <div class=" col-3  no-gutter">
                    <img src="https://secure.meetupstatic.com/photos/event/9/f/e/b/highres_486940939.jpeg" class="event-image" alt="Popcorn, Chester">
                </div>
            </article>

        </section><!-- main content -->

    </div> <!--/row -->

</main> <!-- /container -->

