@{
    ViewData["Title"] = "Home Page";
    var sidbarImage = Url.Content("~/theme/img/default-sidebar.jpg");
}

<main class="container left-container">
    <div class="row">
    
        <partial name="_Nav" />
        
        <section class="sidebar col-lg-5 col-12" style="background-image: url(@sidbarImage)">

            <partial name="_HamburgerButton"/>

            <partial name="_SiteInfo" />
        </section><!-- end sidebar -->

        <section class="col-lg-7 col-12 ml-auto main-content">
        
            <div class="col-sm-12">
                <h2 class="favorites">Upcoming events</h2>
            </div>

            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="https://www.meetup.com/Chester-Devs/events/264982000/">You're fragile not agile - James Studdart</a></h2>
                    
                    <p>Do you find that your goals aren't met, your team let's people down and nothing is ever delivered? It's because your agile is actually fragile!</p>

                    <p class="meta">Wed, 6th Nov, 7pm @@ Quakers meeting house, Chester</p>
                    
                </div>

                <div class=" col-3  no-gutter">
                    <img src="https://secure.meetupstatic.com/photos/event/9/f/c/1/600_485380897.jpeg" class="event-image" alt="James Studdart">
                </div>
            </article>
            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="https://www.meetup.com/Chester-Devs/events/264181124/">Cryptography in .NET, and Protecting Encryption Keys with Azure Key Vault - Stephen Haunts</a></h2>
                    
                    <p>In a world where we are putting our companies data in the cloud, the protection of that data against a data breach has never been more important.</p>

                    <p class="meta">Wed, 4th Dec, 7pm @@ Quakers meeting house, Chester</p>
                    
                </div>

                <div class=" col-3  no-gutter">
                    <img src="https://secure.meetupstatic.com/photos/event/a/7/3/f/600_484182815.jpeg" class="event-image" alt="Stephen Haunts">
                </div>
            </article>

        </section><!-- main content -->

    </div> <!--/row -->

</main> <!-- /container -->

