@{
    ViewData["Title"] = "Become a sponsor";
    ViewData["page"] = "sponsor-details";
}
<header class="hero-image @ViewData["page"]" role="banner">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">


            <h1>Privacy Policy</h1>

            <p>Chester devs is a not for profit Unincorporated Association.</p>
            
            <h2>Usages of your data</h2>
            <p>&nbsp;</p>
            
            <h3>Job Alerts</h3>
            
            <p>The jobs are provided by Bluejumper.com LTD. When you subscribe your email address is shared with Bluejumper.com LTD for the sole use of sending Job Alerts. Your email address is not shared beyond this and will not be used for any other purpose.</p>
            
            <h3>Recruitment Panel</h3>
            <p>Messages sent via the recruitment panel form are distributed to our current Recruitment Panel via Bluejumper.com LTD.</p>
            

            <hr/>
            
            <p>If you have any concerns or questions please contact Fran Hoey - fran@bluejumper.com</p>

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


