@{
    ViewData["Title"] = "Become a sponsor";
    ViewData["page"] = "sponsor-details";
}
<header class="hero-image @ViewData["page"]" role="banner">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 col-lg-8 single-content-sidebar">


            <h1>Privacy Policy</h1>

            <p>Chester devs is a not for profit Unincorporated Association.</p>

            <h2>Usages of your data</h2>
            <p>&nbsp;</p>

            <h3>LinkedIn & social media</h3>

            <p>We may use your details to understand our demographic and inform marketing</p>

            <h3>Email Sign-up</h3>
            <p>We use Zoho to manage our email list and that is the only place we will store your details for notification of events and organiser annoucements. </p>


            <hr />

            <p>If you have any concerns or questions please contact Fran Hoey - devs@chester.dev</p>

        </div><!-- main-content/col -->
        <div class="col-12 col-lg-3 ml-auto single-content-sidebar-area">
            <partial name="_AboutSideNav" />
        </div>
    </div> <!--/row -->

</main> <!-- /container -->


