@{
    ViewData["Title"] = "Sponsors";
    var sidbarImage = Url.Content("~/images/Pret.png");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">


            <h1>Sponsorship</h1>

            <p>We are a not for profit Unincorporated Association.</p>

            <p>
                To cover costs we rely on financial support from businesses. As a thank you sponsors get
                advertising/appreciation opportunities. We have three levels of sponsorship.
            </p>
            <p>If you are interested in sponsoring Chester Devs, please <a asp-controller="Home" asp-action="Pages" asp-route-view="Contact">get in touch</a></p>

            <h2>Partner</h2>
            <p>Maximum of 1, £1700 per year</p>
            <h3>Benefits</h3>
            <ul>
                <li>Mention/Thanks at every event</li>
                <li>Dedicated slide on event introduction PowerPoint</li>
                <li>
                    Advertising banner at every event (if suitable the event organiser can keep the hold of the banner
                    and put it up each time)
                </li>
                <li>Guarantee of no conflicting sponsors.</li>
                <li>Logo on all merchandise (e.g. Flyers, mugs)</li>
                <li>Logo & link on website</li>
            </ul>

            <h2>Sponsors</h2>
            <p>Maximum 3, £250 per year</p>
            <h3>Benefits</h3>
            <ul>
                <li>Logo, name, url and brief description on event introduction PowerPoint</li>
                <li>Mention/Thanks at social events (e.g. Christmas Teardown) which are more expensive</li>
                <li>Logo & link on website</li>
            </ul>

            <h2>Supporters</h2>
            <p>Maximum 9, £90 per year</p>
            <h3>Benefits</h3>
            <ul>
                <li>Logo on event introduction PowerPoint</li>
            </ul>
            
        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


<partial name="_Footer"/>