@{
    ViewData["Title"] = "Become a sponsor";
    ViewData["page"] = "sponsor-details";
}
<header class="hero-image @ViewData["page"]" role="banner">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">

            <h1>Sponsorship</h1>

            <p>We are a not for profit Unincorporated Association.</p>

            <p>If you are interested in any of the following please <a asp-controller="Home" asp-action="Pages" asp-route-view="Contact">get in touch</a></p>
            
            <h2>Recruitment Panel</h2>
            <p>Maximum of 5, £400 per year</p>
            <h3>Benefits</h3>
            <ul>
                <li>Listed on event introduction PowerPoint</li>
                <li>Attend events as the “Named recruiter”</li>
                <li>Listed on the Website - <a asp-controller="Jobs" asp-action="RecruiterPanel">Recruitment Panel</a></li>
                <li>Receive messages sent via the website by members - <a asp-controller="Jobs" asp-action="RecruiterPanel">Recruitment Panel</a> </li>
                <li>Option to attend a annual Recruiter Q&A event</li> 
            </ul>
            <hr/>
            <h2>Job Advertising</h2>
            <p>For price details see - <a asp-controller="Jobs" asp-action="Advertise">How to advertise a job</a></p>
            <ul>
                <li>1 free job every year</li>
                <li>Listed on the website for 2 weeks</li>
                <li>Emailed to members subscribed to Job Alerts</li>
            </ul>
            <hr/>
            <h2>Sponsors</h2>
            <p>Maximum 3, £250 per year</p>
            <h3>Benefits</h3>
            <ul>
                <li>Logo, name, url and brief description on event introduction PowerPoint</li>
                <li>Mention/Thanks at social events (e.g. Christmas Teardown) which are more expensive</li>
                <li>Logo & link on website</li>
            </ul>

            
        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


