@{
    ViewData["Title"] = "Funding Details";
    ViewData["page"] = "sponsor-details";
}
<header class="hero-image @ViewData["page"]" role="banner">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">

            <h1>Funding Details</h1>

            <p>We are a not for profit Unincorporated Association.</p>

            <p>If you are interested in any of the following please <a asp-controller="Home" asp-action="Pages" asp-route-view="Contact">get in touch</a></p>

            <h2>Recruitment Panel</h2>
            <p>Our <a asp-controller="Jobs" asp-action="RecruiterPanel">Recruitment Panel</a> consists of up to 5 trusted recruitment agents. These agents trusted not to be pushy in anyway, but are on hand to help Chester Devs members when then need it</p>
            <p>Maximum of 5, £400 per year</p>
            <h3>Benefits</h3>
            <ul>
                <li>Listed on event introduction PowerPoint</li>
                <li>Attend events as the “Named recruiter”</li>
                <li>Listed on the Website - <a asp-controller="Jobs" asp-action="RecruiterPanel">Recruitment Panel</a></li>
                <li>Option to attend a annual Recruiter Q&A event</li>
            </ul>

            <hr />

            <h2>Sponsors</h2>
            <p>Our Sponsors pay for advertising via Chester Devs to support us and get their name known amongst our fantastic members</p>
            <p>Maximum 3, £250 per year</p>
            <h3>Benefits</h3>
            <ul>
                <li>Logo, name, url and brief description on event introduction PowerPoint</li>
                <li>Mention/Thanks at social events (e.g. Christmas Teardown) which are more expensive</li>
                <li>Logo & link on website</li>
            </ul>
        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


