@{
    ViewData["Title"] = "Sponsors";
    var sidbarImage = Url.Content("~/theme/img/default-about.jpg");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />


    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 single-content">


            <h1>A Single Full Width Page Template</h1>

            <p class="subtitle">Can be used for any tpe of content...</p>

            <

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->


<partial name="_Footer"/>